.a{position: static; border:5px solid salmon;}
.b{position: relative;border: 5px solid gray; left:30px;}
.t{position: relative;
border: 5px solid forestgreen;}
.y{position:absolute;
border:5px solid red;
width:200px;
height:100px;
top:70px;
right:0px;}
.i{position:relative;
    border:5px solid rgb(26, 255, 198);}